.Dashboard {
    display: flex;
    flex-direction: column;
}
.grid {
    width: 550px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
.square {
    box-sizing: border-box;
    flex: 0 0 11.1%;
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: 30px;
    color: white;
    background: lightslategrey;
    text-align: center;
    line-height: 50px;
}

.icon {
    width: 30px;
    height: auto;
    margin: 10px;
}

.down {
    transform: rotate(90deg);
}
.left {
    transform: rotate(180deg);
}
.up {
    transform: rotate(270deg);
}

form {
    margin-bottom: 50px;
}
label div {
    margin: 15px auto 25px;
}

textarea {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

textarea:focus {
    border-color:#333;
}

input {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}