.Dashboard {
    display: flex;
    flex-direction: row;
}

.Window {
    display: flex;
    flex-direction: column;
}

.grid {
    display: block;
    flex-flow: row nowrap;
    align-content: flex-start;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

.square {
    box-sizing: border-box;
    flex: 0 0 11.1%;
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: 30px;
    color: white;
    background: lightslategrey;
    text-align: center;
    line-height: 50px;
}

.Console {
    flex-grow: 1;
    height: 125px;
    margin: 15px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
    font-size: 15px;
    white-space: pre-wrap;
    text-align: left;
}

.icon {
    width: 30px;
    height: auto;
    margin: 10px;
}

.down {
    transform: rotate(90deg);
}
.left {
    transform: rotate(180deg);
}
.up {
    transform: rotate(270deg);
}


form {
    margin: 30px 40px 15px;
}

textarea {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

textarea:focus {
    border-color:#333;
}

input {
    padding:15px 25px;
    margin: 25px 13px 0;
    font-size: 40px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=submit]{
    padding: 13px 30px;
}